.l-box {
    padding: 1em;
}

body {
    background-color: white;
    font-family: "sofia-pro-soft",sans-serif;
    background-color: #179ee9;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0070ad+0,17b0ed+39 */
background: #0070ad; /* Old browsers */
background: -moz-linear-gradient(top,  #0070ad 0%, #17b0ed 39%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #0070ad 0%,#17b0ed 39%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #0070ad 0%,#17b0ed 39%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070ad', endColorstr='#17b0ed',GradientType=0 ); /* IE6-9 */

}

a:link {
    text-decoration: none;
    color: inherit;
    border-bottom: 3px solid;
}

a:visited {
    color: inherit;
}

a:hover {
    border-bottom: 3px solid;
}

a.services:hover {
    border-bottom-color: #e74c3c;
}

a.about:hover {
    border-bottom-color: #f1c40f;
}

a.contact:hover {
    border-bottom-color: #2ecc71;
}


#outer {


}

#wrapper {
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
}

#nav_overlay {
    width: 100%;
    height: 100%;
    background-color: #016b75;
    position: fixed;
    z-index: 10;
}

.intro {
    /*

    background-size: cover;
    background-image: url('/assets/img/bg/kids.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    */

    font-family: "sofia-pro-soft";
    color: white;
}

.home-text {
    background-color: #24b833;
    padding-bottom: 5em;
}

.intro h1 {
    font-weight: 400;
    font-size: 170%;
}

.intro h1 span {
    font-weight: 600;
}

.intro p {
    font-weight: 100;
    font-size: 160%;
}

.menu_wrap {
}

.menu {
}

.menu ul {
    list-style: none;
    padding: 2em;
}

.menu.mobile_only i {
    margin-top: 0.5em;
}

.menu ul li {
    display: inline-block;
    margin-right: 1em;
    font-size: 130%;
}

.menu ul li:hover {
    display: inline-block;
    margin-right: 1em;
    cursor: pointer;
}

.mobile_menu.menu {
    color: white;
}

.mobile_menu.menu ul li {
    margin-bottom: 1em;
    text-align: center;
}

.map {
    background-color: white;
    border-radius: 5px;
    display: table;
}

.map p {
    font-size: 120%;
    color: black;
    margin-top: 0;
}

.map ul {
    padding: 0;
    list-style: star;
    font-size: 130%;

}

.map ul li img {
    border-radius: 5px;
}

.map .slider.top {
    margin-bottom: 1em;
}


.kids {
    /* background-image: url('/assets/img/bg/kids.png'); */
    background-size: contain;;
    margin: 0 auto;
    max-width: 1400px;
    padding-top: 1em;
}

.kids-rear {
    display: none;
}

.pics-banner.mobile {

}

.footer {
    background-color: #27ae60;
    color: white;
}

@media (min-width:320px) {
    .mobile_only {
        display: inline-block;
        visibility: visible;
    }

    .desktop_only {
        display: none;
        visibility: hidden;
    }

    .menu.mobile_only i {
    }



}
@media (min-width:774px) {
    .mobile_only {
        display: none;
        visibility: hidden;
    }

    .desktop_only {
        display: inline-block;
        visibility: visible;
    }

    .map {
        display: table;
        z-index: 100;
    }
}
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
