.l-box {
    padding: 1em;
}

body {
    background-color: white;
    font-family: "sofia-pro-soft",sans-serif;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    border-bottom: 3px solid;
}

a.services:hover {
    border-bottom-color: #e74c3c;
}

a.about:hover {
    border-bottom-color: #f1c40f;
}

a.contact:hover {
    border-bottom-color: #2ecc71;
}

#wrapper {
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
    background: white;
}

.intro {
    /*
    background-image: url('/assets/img/bg/bg1.jpg');
    background-size: cover;
    */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a3285+0,24c1f4+100 */
    background: #0a3285; /* Old browsers */
    background: -moz-linear-gradient(top,  #0a3285 0%, #24c1f4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #0a3285 0%,#24c1f4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #0a3285 0%,#24c1f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a3285', endColorstr='#24c1f4',GradientType=0 ); /* IE6-9 */

    font-family: "sofia-pro-soft";
    color: white;
}

.intro h1 {
    font-weight: 400;
    font-size: 230%;
}

.intro h1 span {
    font-weight: 600;
}

.intro p {
    font-weight: 100;
    font-size: 200%;
}

.menu {
}

.menu ul {
    list-style: none;
    padding: 2em;
}

.menu ul li {
    display: inline-block;
    margin-right: 1em;
    font-size: 130%;
}

.menu ul li:hover {
    display: inline-block;
    margin-right: 1em;
    cursor: pointer;
}

.map p {
    font-size: 100%;
    margin-top: 3em;
}


.footer {
    background-color: #24c1f4;
    /* background-image: url('/assets/img/bg/kids.png'); */
    background-size: contain;;
}
