#container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    background-color: white;
}

.mobile_menu {
    background-color: #e9e9e9;
}

.upper {
    background-color: white;
}

.page_intro {
    color: white;
}

.banner h1 {
    font-size: 300%;
}

.banner h2 {
    font-weight: 200;
}


.banner {
    background-size: cover;
}

.banner.wwd {
    background-image: url('/assets/img/equip/what-we-do.jpg');
    background-position: right;
}

.body {
    color: white;
}

.body h2 {
    font-weight: 200;
}

form {
    color: black;
}

.circle-image {
    border-radius: 50%;
}

.footer {
    background-color: #e9e9e9;
    color: #777777;
}

.mobile_menu.menu ul li {
    margin-bottom: 1em;
    color: black;
}

.function_item h2 {
    display: inline;
    border-bottom: 3px solid;
}

.function_item.even h2 {
    border-bottom-color: #3498db;
}

.function_item.odd h2 {
    border-bottom-color: #2ecc71;
}

@media (min-width:320px) and (max-width:774px) {
    .banner h1 {
        margin: 0;
    }

    .banner h2 {
        margin: 0;
    }

}
